*{
    box-sizing: border-box;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #181818;
    color: #fff;
    .gridrow{
        display: grid;
        grid-template-rows: 75% 25%;
        margin: 0;
        width: 100%;
        height: 100%;
        .firstgridrow{
            display: grid;
            grid-template-columns: 25% 50% 25%;
            width: 95%;
            height: 85%;
            margin: auto;
            .center{
                justify-content: center;
                border: 3px solid white;
                display: flex;
                flex-direction: column;
                margin: auto auto 5% auto;
                width: 100%;
                height: 50%;
                align-items: center;
                h2{
                    font-size: 3rem;
                    white-space: nowrap;
                }
            }
            .left, .right{
                display: flex;
                flex-direction: column;
                margin: 0;
                width: 100%;
                height: 100%;
                align-items: center;
                .flexleft, .flexcenter, .flexright{
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    h2{
                        font-size: 1.8rem;
                        white-space: nowrap;
                        &:first-child{
                            margin: 0 10% 0 0;
                        }
                    }
                    .title{
                        display: flex;
                        margin: auto;
                        align-items: center;
                    }
                    .goods, .wrongs{
                        display: flex;
                        flex-direction: column;
                        margin: 10% auto 0 auto;
                        align-items: center;
                        p{
                            margin: 2% 0 0 0;
                        }
                    }
                }
            }
        }


        .secondgridrow{
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                display: block;
                padding: 8px 20px;
                border-radius: 16px;
                font-size: 2.5rem;
                font-weight: 500;
                margin: 0 5%;
                &:last-child{
                    padding: 7px 32px;
                    letter-spacing: 1px;
                    font-size: 2.7rem;
                }
            }
        }
    }
}

#guessy{
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}
