$primary-color: #fff;
$bg-color:#181818;

*{
    box-sizing: border-box;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.header{
    height: 100%;
    width: 100%;
    color: $primary-color;
    background-color: $bg-color;
    .grid{
        display: grid;
        grid-template-rows: 50% auto;
        width: 100%;
        height: 100%;
        margin: 0;
        grid-row-gap: 1%;
        .row{
            display: grid;
            grid-template-columns: 33% 33% auto;
            margin: auto;
            width: 100%;
            height: 100%;
            grid-gap: 0.5%;
            .col{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                margin: auto;
                border: 1px solid $primary-color;
                cursor: pointer;
                &:hover{
                    .image{
                        img{
                            transform: scale(1.2);
                            transition: transform 0.5s linear;
                        }
                    }
                }
                .image{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 85%;
                    margin: auto;
                    img{
                        height: auto;
                        margin: auto;
                    }
                }
                .titlesection{
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    width: 100%;
                    height: 15%;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}